.App {
  text-align: center;
}
.skillsPage {
  height: 100vh;
  /* background-color: whitesmoke; */
  overflow: auto;
}
.skillsPage .insideSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  padding: 2rem;
  /* border:1px solid; */
  margin: 1rem auto;
}

.skillsPage .insideSkills div {
  border: 3px solid gray;
  display: flex;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 50px;
  color: black;
  border-radius: 1rem;
  margin: auto;
  padding:.5rem;
}
.skillsPage .insideSkills div:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.skillsPage .insideSkills div:hover::before{
  content:attr(data-content);
  color: black;
  font-size: 15px;
  text-overflow: clip;
}
@keyframes slider {
  0%,
  25%,
  100% {
    left: 0;
  }
  30%,
  55% {
    left: -100%;
  }
  60%,
  85% {
    left: -200%;
  }
}

.nameAniMain {
  z-index: 999;
  height: 200px;
  /* overflow: hidden; */
}
.nameAniMain .flipAnim {
  height: 100px;
}
/* .nameAniMain .flipAnim:nth-child(1) {
  animation: anim 3s ease-in-out 250ms 1 reverse;
}
@keyframes anim {
  to {
    margin-top: -50px;
  }
  from {
    margin-top: 10px;
  }
} */

.contactForm {
  height: 100vh;
  width: 100vw;
  margin: auto;
  text-align: center;
}
.contactForm form {
  width: 400px;
  margin: auto;
  border: 3px solid rgb(116, 115, 115);
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
}
/* //========== */
.projectsPage {
  overflow: hidden;
}
.projectsPage .main {
  margin: auto;
  width: 70%;
}
.projectsPage .carousals {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.projectsPage .projectDescription {
  margin: 1rem;
  text-align: center;
}
.projectDescription .techStack {
  display: flex;
  font-size: 2rem;
  margin: 2rem;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: max-content;
}
.projectDescription .techStack > div {
  border: 1px solid;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.socialIcons {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  margin: auto;
}
.socialIcons > div {
  border: 3px solid;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
}

.socialIcons > div:nth-child(1) {
  transform: skew(2deg);
  transition: 0.8s ease-in-out;
}
.socialIcons > div:nth-child(2) {
  transform: skew(2deg);
  transition: 0.8s ease-in-out;
}
.socialIcons > div:nth-child(3) {
  transform: skew(2deg);
  transition: 0.8s ease-in-out;
}
.socialIcons > div:nth-child(4) {
  transform: skew(2deg);
  transition: 0.8s ease-in-out;
  position: relative;
}
.socialIcons > div:hover:nth-child(1) {
  transform: skew(0);
  color: #fff;
  background-color: lightslategray;
}
.socialIcons > div:hover:nth-child(2) {
  transform: skew(0);
  color: #fff;
  background-color: rgb(172, 215, 233);
}
.socialIcons > div:hover:nth-child(3) {
  transform: skew(0);
  color: #fff;
  background-color: rgb(220, 238, 244);
}
.socialIcons > div:hover:nth-child(4) {
  transform: skew(0);
  color: #fff;
  background-color: rgb(152, 247, 165);
}
.socialIcons>div:nth-child(4) .mobile{
display: none;
}
.socialIcons>div:nth-child(4):hover .mobile{
display: block;
position: absolute;
width: 150px;
top:-30%;
right: 30%;
font-size: 15px;
font-weight: bold;
z-index: 1;
color: black;
}

