.App {
  text-align: center;
}
.scrollSnapMain{
  height: 100%;
  width: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
.scrollSnapChild{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  scroll-snap-align: center;
  height: 100vh;
  width: 100vw;
  /* border:1px solid white */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nameAniMain {
  z-index: 999;
  height: 100px;
  overflow: hidden;
}
.nameAniMain .flipAnim {
  height: 100%;
}
.nameAniMain .flipAnim:nth-child(1) {
  animation: anim 3s ease-in-out 250ms infinite alternate-reverse;
}
@keyframes anim {
  to{
    margin-top: -50px;
  }from{
    margin-top: 10px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
